## Feature selection

In [2]:
from scipy.io import loadmat

data_raw = loadmat('Zadanie5-leukemia.mat')
X_raw = data_raw['X']
y = data_raw['Y']

data_raw

{'__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Wed Mar 25 15:23:42 2015',
 '__version__': '1.0',
 '__globals__': [],
 'X': array([[-2,  2,  0, ...,  2,  0,  0],
        [ 0,  0,  0, ...,  0, -2,  0],
        [-2, -2,  0, ...,  2,  0,  0],
        ...,
        [ 2,  2,  0, ...,  0,  0,  2],
        [ 0, -2,  0, ...,  0,  0, -2],
        [ 2, -2,  0, ...,  0,  0, -2]], dtype=int16),
 'Y': array([[-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [-1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1],
        [ 1]], dtype=int16)}

In [3]:
import pandas as pd

X_df = pd.DataFrame(X_raw)
X_df

,0,1,2,3,4,5,6,7,8,9,...,7060,7061,7062,7063,7064,7065,7066,7067,7068,7069
0,-2,2,0,0,-2,-2,0,0,0,0,...,0,-2,-2,0,0,0,0,2,0,0
1,0,0,0,0,-2,0,0,0,0,0,...,0,2,0,0,0,0,0,0,-2,0
2,-2,-2,0,0,2,2,2,0,0,2,...,2,2,2,-2,2,2,2,2,0,0
3,2,0,0,0,0,0,2,2,-2,2,...,2,2,2,-2,-2,0,-2,-2,0,-2
4,-2,0,0,0,2,2,0,0,0,-2,...,0,0,2,0,0,-2,0,0,-2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,0,0,-2,2,0,-2,2,-2,-2,0,...,-2,0,0,0,-2,0,0,-2,0,2
68,0,0,-2,2,0,0,0,-2,0,-2,...,-2,-2,2,0,2,-2,-2,0,2,0
69,2,2,0,2,2,0,2,2,2,2,...,0,0,0,0,0,0,2,0,0,2
70,0,-2,0,0,2,0,2,2,0,2,...,-2,2,-2,0,-2,-2,0,0,0,-2
71,2,-2,0,-2,2,-2,0,0,-2,0,...,-2,0,2,2,0,-2,-2,0,0,-2

### Highest variance

In [4]:
variances = X_df.var()
print(variances)

0       2.579030
1       2.028169
2       1.114241
3       1.708138
4       1.912363
          ...
7065    2.302817
7066    2.000000
7067    1.614241
7068    1.527387
7069    2.196401
Length: 7070, dtype: float64

In [5]:
def find_variance_lower_than(variances, P=1):
  columns = []
  for i in range(len(variances)):
    if variances[i] < P:
      columns.append(i)
  
  return len(columns), columns

n, cols_to_del = find_variance_lower_than(variances)
print(n)

167

In [6]:
for i in [1, 1.25, 1.5, 1.75, 2, 2.5, 3]:
  n, cols_to_del = find_variance_lower_than(variances, i)
  print("variance = ", i, ' ---> ', n, 'features to delete')

variance =  1  --->  167 features to delete
variance =  1.25  --->  231 features to delete
variance =  1.5  --->  347 features to delete
variance =  1.75  --->  568 features to delete
variance =  2  --->  1189 features to delete
variance =  2.5  --->  5297 features to delete
variance =  3  --->  7041 features to delete

In [7]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

n, cols_to_del = find_variance_lower_than(variances, 2)
X_var_2 = X_df.drop(cols_to_del, axis=1)
X_var_2

,0,1,5,6,7,8,9,10,11,14,...,7057,7058,7059,7060,7061,7062,7064,7065,7066,7069
0,-2,2,-2,0,0,0,0,0,0,-2,...,0,0,2,0,-2,-2,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,-2,-2,0,0,2,0,0,0,0,0
2,-2,-2,2,2,0,0,2,-2,0,-2,...,0,0,0,2,2,2,2,2,2,0
3,2,0,0,2,2,-2,2,0,-2,-2,...,-2,0,0,2,2,2,-2,0,-2,-2
4,-2,0,2,0,0,0,-2,2,2,2,...,0,2,0,0,0,2,0,-2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,0,0,-2,2,-2,-2,0,2,0,-2,...,0,0,-2,-2,0,0,-2,0,0,2
68,0,0,0,0,-2,0,-2,2,2,0,...,0,0,0,-2,-2,2,2,-2,-2,0
69,2,2,0,2,2,2,2,-2,-2,-2,...,0,-2,0,0,0,0,0,0,2,2
70,0,-2,0,2,2,0,2,-2,-2,0,...,-2,-2,0,-2,2,-2,-2,-2,0,-2
71,2,-2,-2,0,0,-2,0,0,-2,0,...,0,-2,0,-2,0,2,0,-2,-2,-2

In [8]:
n, cols_to_del = find_variance_lower_than(variances, 3)
X_var_3 = X_df.drop(cols_to_del, axis=1)
X_var_3

,48,590,698,772,991,1057,1159,1992,2275,2472,...,5546,5579,6165,6244,6491,6565,6602,6729,6735,6740
0,0,2,0,2,0,2,-2,2,2,2,...,0,0,2,2,2,-2,2,2,2,2
1,-2,0,-2,0,-2,-2,0,-2,-2,2,...,2,2,-2,2,2,2,-2,-2,-2,0
2,2,2,-2,2,-2,2,-2,2,-2,2,...,2,2,0,2,0,2,-2,-2,-2,2
3,0,2,2,0,-2,2,-2,0,2,2,...,2,0,2,2,2,-2,2,-2,-2,0
4,-2,0,0,-2,2,-2,2,-2,2,-2,...,-2,0,2,2,-2,0,-2,-2,-2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,-2,0,-2,2,-2,-2,0,0,-2,0,...,-2,0,-2,-2,-2,-2,2,2,0,-2
68,-2,0,-2,-2,2,-2,2,2,0,-2,...,-2,-2,-2,0,-2,-2,0,-2,-2,2
69,2,2,-2,2,-2,0,-2,-2,-2,2,...,0,2,0,2,2,2,2,2,2,2
70,2,2,-2,2,0,2,-2,0,-2,-2,...,2,2,0,-2,2,0,2,0,2,0
71,-2,0,-2,-2,2,2,0,0,-2,-2,...,0,2,-2,-2,-2,0,2,2,0,-2

In [9]:
indexes = list(X_df.index)

In [10]:
from sklearn.model_selection import train_test_split

i_train, i_test = train_test_split(indexes, test_size=0.25)

In [11]:
print(i_train)
print(i_test)

[10, 35, 48, 55, 53, 7, 13, 52, 67, 29, 6, 18, 68, 69, 59, 34, 46, 44, 49, 2, 30, 66, 50, 23, 56, 11, 62, 0, 43, 19, 28, 1, 40, 24, 58, 32, 4, 16, 20, 38, 33, 26, 64, 65, 71, 12, 57, 41, 60, 31, 45, 5, 9, 47]
[25, 8, 39, 3, 42, 54, 17, 63, 37, 21, 22, 61, 51, 70, 27, 14, 36, 15]

In [12]:
y_arr = []
for i in range(len(y)):
  y_arr.append(y[i][0])

y_pd = pd.Series(y_arr).replace(-1, 0)
y_pd

0     0
1     0
2     0
3     0
4     0
     ..
67    1
68    1
69    1
70    1
71    1
Length: 72, dtype: int16

In [13]:
X_df.index == X_var_2.index

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [14]:
def split_with_indexes(i_train, i_test, data):
  return (data.iloc[i_train], data.iloc[i_test])

X_train, X_test = split_with_indexes(i_train, i_test, X_df)
y_train, y_test = split_with_indexes(i_train, i_test, y_pd)
X_train_var_2, X_test_var_2 = split_with_indexes(i_train, i_test, X_var_2)
X_train_var_3, X_test_var_3 = split_with_indexes(i_train, i_test, X_var_3)

In [15]:
X_test

,0,1,2,3,4,5,6,7,8,9,...,7060,7061,7062,7063,7064,7065,7066,7067,7068,7069
25,-2,0,0,0,0,0,-2,-2,0,0,...,0,0,2,2,0,0,0,0,0,0
8,-2,-2,0,0,2,2,2,2,-2,2,...,2,2,0,-2,0,0,0,2,0,0
39,2,0,0,0,2,-2,2,0,0,2,...,-2,0,-2,0,-2,-2,0,-2,-2,0
3,2,0,0,0,0,0,2,2,-2,2,...,2,2,2,-2,-2,0,-2,-2,0,-2
42,0,0,0,0,0,2,2,2,2,0,...,2,0,2,0,0,0,0,0,0,0
54,0,0,2,0,0,-2,0,-2,2,0,...,0,-2,0,0,0,-2,-2,0,-2,0
17,-2,0,0,-2,0,0,0,-2,0,0,...,0,0,-2,2,0,0,0,0,0,0
63,-2,0,0,0,0,-2,-2,-2,-2,-2,...,0,-2,0,0,0,-2,-2,0,0,0
37,0,-2,2,0,-2,0,-2,2,2,2,...,0,0,-2,0,0,2,0,0,2,2
21,-2,0,-2,0,-2,-2,-2,0,2,0,...,0,-2,2,0,0,2,0,0,0,0
22,0,2,0,-2,-2,0,-2,-2,-2,0,...,0,2,2,-2,0,0,0,0,0,2
61,2,-2,0,0,0,-2,-2,0,0,0,...,0,0,0,0,-2,0,0,2,0,2
51,-2,-2,0,0,0,-2,-2,-2,0,0,...,0,0,0,2,2,0,0,2,0,2
70,0,-2,0,0,2,0,2,2,0,2,...,-2,2,-2,0,-2,-2,0,0,0,-2
27,0,0,0,-2,2,-2,2,2,0,0,...,2,2,0,-2,0,0,2,0,0,-2
14,-2,0,0,-2,2,2,0,0,0,-2,...,-2,0,0,0,2,-2,-2,0,-2,0
36,2,0,0,2,0,-2,-2,-2,0,2,...,2,2,0,0,2,2,0,2,0,2
15,0,0,0,0,0,0,0,0,-2,0,...,-2,0,0,0,-2,0,2,2,0,0

In [16]:
from sklearn.linear_model import LogisticRegression

lr_clf = LogisticRegression(random_state=42)
lr_clf.fit(X_train, y_train)

y_pred_all = lr_clf.predict(X_test)
y_pred_all

array([0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0], dtype=int16)

In [17]:
lr_clf = LogisticRegression(random_state=42)
lr_clf.fit(X_train_var_2, y_train)

y_pred_var_2 = lr_clf.predict(X_test_var_2)


lr_clf = LogisticRegression(random_state=42)
lr_clf.fit(X_train_var_3, y_train)

y_pred_var_3 = lr_clf.predict(X_test_var_3)

In [18]:
lr_comparison = pd.DataFrame({
    'true': y_test,
    'all': y_pred_all,
    'var_2': y_pred_var_2,
    'var_3': y_pred_var_3
})

lr_comparison

    true  all  var_2  var_3
25     0    0      0      0
8      0    0      0      0
39     0    0      0      0
3      0    0      0      0
42     0    0      0      0
54     0    0      0      0
17     0    0      0      0
63     1    1      1      1
37     1    1      1      1
21     0    0      0      0
22     0    0      0      0
61     1    1      1      1
51     0    0      0      0
70     1    1      1      1
27     1    1      1      1
14     0    0      0      0
36     1    1      1      0
15     0    0      0      0

In [19]:
from sklearn.metrics import accuracy_score, auc, roc_curve

def calc_metrics(y_true, y_pred):
  fpr, tpr, thresholds = roc_curve(y_true, y_pred, pos_label=2)
  return {'auc': auc(fpr, tpr), 'accurracy': accuracy_score(y_true, y_pred)} 


print('Logistics regression: ')
print('All parameters: ', calc_metrics(lr_comparison['true'], lr_comparison['all']))
print('Parameters with variance > 2: ', calc_metrics(lr_comparison['true'], lr_comparison['var_2']))
print('Parameters with variance > 3: ', calc_metrics(lr_comparison['true'], lr_comparison['var_3']))

Logistics regression:
All parameters:  {'auc': nan, 'accurracy': 1.0}
Parameters with variance > 2:  {'auc': nan, 'accurracy': 1.0}
Parameters with variance > 3:  {'auc': nan, 'accurracy': 0.9444444444444444}

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_ranking.py:1029: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_ranking.py:1029: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_ranking.py:1029: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  warnings.warn(

Przy tak małym zbiorze próbek niemożliwe jest wyliczenie metryki AUC. Dokładność, niezależnie od ilości wybranych za pomocą wariancji parametrów, wynosi 1.

In [20]:
from sklearn.ensemble import RandomForestClassifier

rfc_clf = RandomForestClassifier(random_state=42)
rfc_clf.fit(X_train, y_train)

y_pred_all = rfc_clf.predict(X_test)

rfc_clf = RandomForestClassifier(random_state=42)
rfc_clf.fit(X_train_var_2, y_train)

y_pred_var_2 = rfc_clf.predict(X_test_var_2)


rfc_clf = RandomForestClassifier(random_state=42)
rfc_clf.fit(X_train_var_3, y_train)

y_pred_var_3 = rfc_clf.predict(X_test_var_3)

In [21]:
rfc_comparison = pd.DataFrame({
    'true': y_test,
    'all': y_pred_all,
    'var_2': y_pred_var_2,
    'var_3': y_pred_var_3
})

rfc_comparison

    true  all  var_2  var_3
25     0    0      0      0
8      0    0      0      0
39     0    0      0      0
3      0    0      0      0
42     0    0      0      0
54     0    0      0      0
17     0    0      0      0
63     1    1      1      1
37     1    1      1      1
21     0    0      0      0
22     0    0      0      0
61     1    1      1      1
51     0    0      0      0
70     1    1      1      1
27     1    1      1      1
14     0    0      0      0
36     1    1      1      1
15     0    0      0      0

In [22]:
print('Random forrest: ')
print('All parameters: ', calc_metrics(rfc_comparison['true'], rfc_comparison['all']))
print('Parameters with variance > 2: ', calc_metrics(rfc_comparison['true'], rfc_comparison['var_2']))
print('Parameters with variance > 3: ', calc_metrics(rfc_comparison['true'], rfc_comparison['var_3']))

Random forrest:
All parameters:  {'auc': nan, 'accurracy': 1.0}
Parameters with variance > 2:  {'auc': nan, 'accurracy': 1.0}
Parameters with variance > 3:  {'auc': nan, 'accurracy': 1.0}

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_ranking.py:1029: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_ranking.py:1029: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_ranking.py:1029: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  warnings.warn(

Przy zastosowaniu drzew losowych, predykcje z wykorzystaniem mniejszej liczby cech okazują się nawet bardziej dokładne. Zbyt mała liczba próbek nie pozwala na polczenia AUC.

### Recursive Feature Elimination (RFE)

In [23]:
from sklearn.feature_selection import RFE

def get_lr_fs(X, y, f_num):
  clf = LogisticRegression(random_state=42)
  selector = RFE(clf, n_features_to_select=f_num, step=1)
  selector.fit(X, y)
  return selector


def get_rfc_fs(X, y, f_num):
  # clf = RandomForestClassifier(random_state=42)
  clf = RandomForestClassifier(random_state=42, n_estimators=10)
  selector = RFE(clf, n_features_to_select=f_num, step=1)
  selector.fit(X, y)
  return selector

In [24]:
len(y_train)//3

18

In [25]:
lr_selector_18 = get_lr_fs(X_train, y_train, 18)

In [26]:
lr_18 = lr_selector_18.predict(X_test)

In [27]:
rfc_selector_18 = get_rfc_fs(X_train, y_train, 18)

In [28]:
rfc_18 = rfc_selector_18.predict(X_test)

In [45]:
rfc_all = RandomForestClassifier(random_state=42)
rfc_all.fit(X_train, y_train)

lr_all = LogisticRegression(random_state=42)
lr_all.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [30]:
rfe_comparison = pd.DataFrame({
    'true': y_test,
    'rfc_all' : rfc_all.predict(X_test),
    'rfc_18' : rfc_18,
    'lr_all' : lr_all.predict(X_test),
    'lr_18' : lr_18
})

rfe_comparison

    true  rfc_all  rfc_18  lr_all  lr_18
25     0        0       0       0      0
8      0        0       1       0      0
39     0        0       0       0      0
3      0        0       0       0      0
42     0        0       0       0      0
54     0        0       0       0      0
17     0        0       0       0      0
63     1        1       1       1      1
37     1        1       1       1      1
21     0        0       1       0      0
22     0        0       0       0      0
61     1        1       1       1      1
51     0        0       0       0      0
70     1        1       0       1      1
27     1        1       1       1      1
14     0        0       0       0      0
36     1        1       1       1      1
15     0        0       0       0      0

In [31]:
print('Recursive feature elimination')
print('\n Random forrest: ')
print('All parameters: ', calc_metrics(rfe_comparison['true'], rfe_comparison['rfc_all']))
print('18 parameters choosen with RFE: ', calc_metrics(rfe_comparison['true'], rfe_comparison['rfc_18']))

print('\n Logistics regression: ')
print('All parameters: ', calc_metrics(rfe_comparison['true'], rfe_comparison['lr_all']))
print('18 parameters choosen with RFE: ', calc_metrics(rfe_comparison['true'], rfe_comparison['lr_18']))

Recursive feature elimination

 Random forrest:
All parameters:  {'auc': nan, 'accurracy': 1.0}
18 parameters choosen with RFE:  {'auc': nan, 'accurracy': 0.8333333333333334}

 Logistics regression:
All parameters:  {'auc': nan, 'accurracy': 1.0}
18 parameters choosen with RFE:  {'auc': nan, 'accurracy': 1.0}

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_ranking.py:1029: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_ranking.py:1029: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_ranking.py:1029: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_ranking.py:1029: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  warnings.warn(

W przypadku drzew losowych, zmniejszona do 18 liczba cech nie pozwoliła na uzyskanie idealnego dopasowania w przypadku drzew losowych. Dla regresji logistycznej wyniki są w obydwu przypadkach tak samo dobre.   
Wybranie cech z wykorzystaniem rfe trwa jednak, nawet przy tak prostych klasyfikatorach bardzo długo (z wykorzystaniem google colab ~15 minut w każdym przypadku).

Scoring with cross validation

In [33]:
from sklearn.model_selection import cross_val_score
X = X_df
y = y_pd

print('Scoring with cross validation (4 folds)')
print('Accuraccy')
print('\n Random forrest: ')
print('All parameters: ', cross_val_score(rfc_all, X, y, cv=4, scoring="accuracy"))
print('18 parameters choosen with RFE: ', cross_val_score(rfc_selector_18, X, y, cv=4, scoring="accuracy"))

print('\n Logistics regression: ')
print('All parameters: ', cross_val_score(lr_all, X, y, cv=4, scoring="accuracy"))
print('18 parameters choosen with RFE: ', cross_val_score(lr_selector_18, X, y, cv=4, scoring="accuracy"))

Scoring with cross validation (4 folds)
Accuraccy

 Random forrest:
All parameters:  [1.         1.         1.         0.94444444]
18 parameters choosen with RFE:  [0.66666667 0.94444444 0.83333333 0.66666667]

 Logistics regression:
All parameters:  [1.         1.         1.         0.94444444]
18 parameters choosen with RFE:  [1.         0.94444444 1.         0.94444444]

AUC

 Random forrest:

ValueError: ignored

In [32]:
import sklearn
sklearn.metrics.get_scorer_names()

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'matthews_corrcoef',
 'max_error',
 'mutual_info_score',
 'neg_brier_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_absolute_percentage_error',
 'neg_mean_gamma_deviance',
 'neg_mean_poisson_deviance',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'neg_negative_likelihood_ratio',
 'neg_root_mean_squared_error',
 'normalized_mutual_info_score',
 'positive_likelihood_ratio',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'rand_score',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'roc_auc_ovo',
 'roc_auc_ovo_weighted',
 'roc_auc_ovr',
 'roc_auc_ovr_weighted',
 'top_k_accuracy',
 'v_measure_score']

In [34]:
print('\nAUC')
print('\n Random forrest: ')
print('All parameters: ', cross_val_score(rfc_all, X, y, cv=4, scoring="roc_auc"))
print('18 parameters choosen with RFE: ', cross_val_score(rfc_selector_18, X, y, cv=4, scoring="roc_auc"))

print('\n Logistics regression: ')
print('All parameters: ', cross_val_score(lr_all, X, y, cv=4, scoring="roc_auc"))
print('18 parameters choosen with RFE: ', cross_val_score(lr_selector_18, X, y, cv=4, scoring="roc_auc"))

AUC

 Random forrest:
All parameters:  [1.         1.         1.         0.97402597]
18 parameters choosen with RFE:  [0.71527778 0.84027778 0.78472222 0.80519481]

 Logistics regression:
All parameters:  [1.         1.         1.         0.97402597]
18 parameters choosen with RFE:  [1. 1. 1. 1.]

Wyniki walidacji skrośnej pokazują, że RFE lepiej działa w przypadku regresji logistycznej niż lasów losowych.

### Built-in regularization methods

In [39]:
lr_reg_l1 = LogisticRegression(random_state=42, solver='saga', penalty='l1', max_iter=10000)
lr_reg_l1.fit(X_train, y_train)

y_lr_l1 = lr_reg_l1.predict(X_test)

In [40]:
print('Logistics regression l1 regularization: ', calc_metrics(y_test, y_lr_l1))

Logistics regression l1 regularization:  {'auc': nan, 'accurracy': 1.0}

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_ranking.py:1029: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  warnings.warn(

W przypadku regularyzacji L1 dla domyślnych parametrów wyniki są również tak  dobre, jak we wcześniejszych przypadkach.

In [42]:
from sklearn.feature_selection import SelectFromModel

selector = SelectFromModel(RandomForestClassifier(random_state=42, n_estimators=10))
selector.fit(X_train, y_train)

selected_features = X_train.columns[(selector.get_support())]
print(selected_features)
print(len(selected_features))

Int64Index([   3,   38,  224,  252,  623,  635,  645,  653,  744,  862, 1033,
            1060, 1290, 1334, 1337, 1474, 1555, 1705, 1902, 1984, 2104, 2112,
            2211, 2382, 2560, 2561, 2744, 2768, 2945, 2969, 2996, 3080, 3084,
            3326, 3585, 3837, 3945, 4171, 4403, 4725, 4787, 5100, 5220, 5734,
            5969, 5985, 6125, 6661],
           dtype='int64')
48

In [44]:
X_t_train = selector.transform(X_train)
X_t_test = selector.transform(X_test)

In [46]:
rfc_transformed = RandomForestClassifier(random_state=42, n_estimators=10)
rfc_transformed.fit(X_t_train, y_train)

y_transformed = rfc_transformed.predict(X_t_test)
print('Features selection from RFC model: ', calc_metrics(y_test, y_transformed))

Features selection from RFC model:  {'auc': nan, 'accurracy': 0.8333333333333334}

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_ranking.py:1029: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  warnings.warn(

Metoda oparta na ważności cech dla lasów losowych wybiera 48 kolumn z początkowego zbioru. Wyniki przewidywania nie są jednak idealne.